{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="style.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<h1>Bienvenue sur le site du BDE CESI</h1><br><br>
<div class="center">
    <!--bouton pour ajouter une image-->
    {{form_start(form)}}
    {{form_label(form.picture)}}
    {{form_widget(form.picture)}}
    {{form_label(form.submit)}}
    {{form_widget(form.submit)}}
</div>
{% endblock %}