{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="boutique.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

{% if  articles is defined %}

<div class="container">
  <div class="col-lg-9">
    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="{{articles.picture}}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{articles.name}}</h3>
        <h4>{{articles.price}} €</h4>
        <p class="card-text">{{articles.description}}</p>
      </div>
      <div class='btn'>
        {{ form_start(form) }}

        {{ form_label(form.quantite)}}
        {{ form_widget(form.quantite)}}
        
        {{ form_label(form.submit)}}
        {{ form_widget(form.submit)}}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}