{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="admin.css" rel="stylesheet" >
<link href="inscription.css" rel="stylesheet" >

{% endblock %}

{% block body %}
<h1>Bienvenue sur la page Admin</h1>
{% if  events is defined %}
    {% for event in events %}
    <a href="activity_cesi{{event.id}}"><img class="card-img-top">
        <div class="card bg-primary col-lg-4 col-sm-4 mb-4">
            <div class="card-header">{{event.date}}, {{event.place}}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">{{event.description}}.</p>
            </div>
        </div><br>
    </a>
    {% endfor %}
    {% endif %}
{% endblock %}