{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="inscription.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<!--formulaire de connexion renvoyé par le controller-->
<div id="formulaire">
    <fieldset> 
        <h3>Connexion</h3>
        {{ form_start(form2) }}
        <div class="form-group">
            {{ form_label(form2.mail)}}
            {{ form_widget(form2.mail)}}
        </div><br>
        <div class="form-group">
            {{ form_label(form2.mdp)}}
            {{ form_widget(form2.mdp)}}
        </div><br><br>
        <div class="form-group">
            {{ form_label(form2.submit)}}
            {{ form_widget(form2.submit)}}
            </div><br>
        {{ form_end(form2) }}
    </fieldset>
</div>
<div >
    <br>
    <a href="{{ path('inscriptions') }}"> <input type="button" value="Vous n'avez pas encore de compte" class="btn" aria-describedby="fileHelp"></a>
 </div>
<br><br><br>
{% endblock %}
