{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="event.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<div id="event">
    <h1>Envie de vous amuser ? </h1><br>


    {% if  events is defined %}
        {% for event in events %}
            <div class="card bg-primary col-lg-4 col-sm-4 mb-4" >
                <div class="card-header">{{event.date}}, {{event.place}}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{event.name}}</h4>
                    <p class="card-text">{{event.description}}.</p>
                </div>
            </div><br>
        {% endfor %}
    {% endif %}
    </br><a href="{{ path('boiteid') }}"><button class="btn btn-primary">Proposer une activité</button></a>
    </div>
{% endblock %}