{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="event.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="event">
    <h1>Envie de vous amuser ? </h1><br>
    <h6>Pour chaque activité, vous pouvez vous inscrire ou y laisser un commentaire.<br>
    Vous pouvez également proposer une activité qui sera poster dans la boite à idée. Vous pourez ainsi voter pour cette activité et espérer sa validation par les membres du BDE.</h6>
    <br>  
    <!--lien pour ajouter une idée d'évènements-->
    <a href="{{ path('boiteid') }}"><button class="btn btn-primary">Proposer une activité</button></a><br>
    <br>
     <!--lien pour vous les évènements auxquels l'utilisateur est inscrit-->
    <a href="{{ path('myEvent') }}"><button class="btn btn-primary">Mes évènements</button></a><br>
    <br>
    <!--lien pour voir les propositions d'évènements-->
    <a href="{{ path('show_boiteid') }}"><button class="btn btn-primary">Voir les activitées proposées</button></a><br>
    {% if  events is defined %}
    <!--Affiche tous les évènements-->
    {% for event in events %}
    <a href="event{{event.id}}"><img class="card-img-top">
        <div class="card bg-primary col-lg-4 col-sm-4 mb-4">
            <div class="card-header">{{event.date}}, {{event.place}}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">{{event.description}}.</p>
            </div>
        </div><br>
    </a>
    {% endfor %}
    {% endif %}
    </br>
</div>
{% endblock %}