{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="event.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<h1> Boîte à idée </h1><br>
<h6 class="text">Vous pouvez voter pour des activité proposer par les étudiants. Un grand nombre de vote encouragera la validation de l'activité par les membres du BDE.</h6>
<br>
{% if  events is defined %}
    <div id="formulaire" class="event">
        <!--permet de voter pour une activité-->
        <fieldset> 
            {{ form_start(form) }} 
            {{ form_label(form.activities_id)}}
            {{ form_widget(form.activities_id)}} 
            {{ form_label(form.submit)}}
            {{ form_widget(form.submit)}}
        
        </fieldset>
    </div> <br>

{% for event in events %}
<!--affiche tous les évènements de la boîte à idée-->
<div class="event">
    <img class="card-img-top">
    <div class="card bg-primary col-lg-4 col-sm-4 mb-4">
        <div class="card-header">{{event.date}}, {{event.place}}
        </div>
        <div class="card-body">
            <p>ID:{{event.id}}</p>
            <h4 class="card-title">{{event.name}}</h4>
            <p class="card-text">{{event.description}}.</p>
        </div>
    </div><br>
</div>
{% endfor %}
{% endif %}
{% endblock %}