{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="inscription.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1>ajouter un evenement </h1>
<div id="formulaire">
    <fieldset>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name)}}
            {{ form_widget(form.name)}}
        </div><br>
        <div class="form-group">
            {{ form_label(form.description)}}
            {{ form_widget(form.description)}}
        </div><br>
        <div class="form-group">
            {{ form_label(form.place)}}
            {{ form_widget(form.place)}}
        </div><br>
        <div class="form-group">
            {{ form_label(form.date)}}
            {{ form_widget(form.date)}}
        </div><br>
        <div class="form-group">
            {{ form_label(form.submit)}}
            {{ form_widget(form.submit)}}
        </div><br>
    </fieldset>
</div>

{% endblock %}