{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="admin.css" rel="stylesheet" >
<link href="inscription.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1>Ajouter un article dans la boutique </h1>
<div id="formulaire">
    <fieldset>
    {{ form_start(form) }}
    <!--Formulaire envoyé par le controller, les cases correspondent aux caractéristiques d'un produit-->
            <div class="form-group">    
                {{ form_label(form.name)}}
                {{ form_widget(form.name)}}
            </div><br>
                <div class="form-group">
                {{ form_label(form.description)}}
                {{ form_widget(form.description)}}
            </div><br>
                <div class="form-group">
                {{ form_label(form.price)}}
                {{ form_widget(form.price)}}
            </div><br>
                <div class="form-group">
                {{ form_label(form.types_id)}}
                {{ form_widget(form.types_id)}}
            </div><br>
                <div class="form-group">
                {{ form_label(form.picture)}}
                {{ form_widget(form.picture)}}
            </div><br
                <div class="form-group">
                {{ form_label(form.submit)}}
                {{ form_widget(form.submit)}}
            </div> 
    </fieldset>
</div> 
{% endblock %}